<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analysis Results</title>
</head>
<body>
    <h1>Recyclable Items Detected:</h1>
    <ul>
        {% for label in labels %}
        <li>{{ label }}</li>
        {% endfor %}
    </ul>
    <h1>Brands Detected:</h1>
    <ul>
        {% for logo in logos %}
        <li>{{ logo }}</li>
        {% endfor %}
    </ul>

    <form action="/">
        <input type="submit" value="Back" />
    </form>
    
    <form action="/recycle">
        <input type="submit" value="Recycle" />
    </form>

    <form action="/dispose">
        <input type="submit" value="Dispose" />
    </form>
</body>
</html>